body {
  background-image: url(../docs/dark_city.jpg);
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
}

// TO CREATE LUMINOSITY FOR NON-MAIN PAGES
@mixin background_luminosity {
  background-color: rgba(255, 166, 0, 0.3);
  background-blend-mode: luminosity;
}
// SPECS FOR CIRCLE ICONS AT TOP OF NON-MAIN PAGES
@mixin top_icon_specs($padding: 0px 0px 0px 0px) {
  padding: $padding;
  margin-bottom: 10px;
  background: black;
  color: orange;
  font-size: 3rem;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  transition: transform 1s;
  &:hover {
    transform: rotate(360deg);
  }
}
// ICON BOX ON 'ETC' PAGE
@mixin icon_box {
  background-size: 200px;
  border-radius: 5%;
  img:hover {
    transform: translate(230px, 0px);
    transition: 1s ease-out;
  }
  img {
    height: 200px;
    width: 200px;
    border-radius: 5%;
  }
}

@mixin hover_img {
  border-radius: 50%;
  height: 150px;
  background-size: cover;
}

@mixin margin_cancel_width_full {
margin: 0;
width: 100vw;
}

$orangish: rgb(224, 180, 84);
$blackveil: rgba(0, 0, 0, 0.6);
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(128, 128, 128, 0.8);
  padding: 10px;
  #copyright {
    align-self: flex-end;
  }
}

//! NAV BAR - HAMBURGER ICON
.dropdown {
  position: absolute;
  right: 0;
  margin: 15px;
  display: inline-block;
  &:hover .dropdown-content {
    display: block;
  }
  &:hover .dropbtn {
    background-color: orange;
  }
  .dropbtn {
    background-color: black;
    border-radius: 20%;
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 2rem;
    border: none;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    min-width: 160px;
    right: 0px;
    font-size: 1.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a:hover {
      background-color: rgb(255, 166, 0);
      color: black;
    }
    a {
      color: orange;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    
    }
  }
}




//! MAIN BLOG PAGE
body {
  @include background_luminosity;
  .blog_grid_container {
    display: grid;
    grid-template-areas:
      150px
      5px
      150px
      repeat(6, auto)
      / 1fr;
    justify-content: center;
    margin: 0px 150px 0px 150px;
  }
  #blog_icon_section {
    @include top_icon_specs($padding: 60px 25px 60px 25px);
    grid-area: 2 / 1;
  }
  .blog-body {
    //! make variable?
    background: rgba(0, 0, 0, 0.8);
    color: orange;
    padding: 0px 30px 10px 30px;
    margin-bottom: 25px;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
    p {
      margin-left: 20px;
    }
    &:hover {
      transform: scale(1.05);
      a {
        color: rgb(253, 225, 183);
      }
    }
  }
}

// ! MAIN BLOG PAGE RESONSIVENESS
@media only screen and (max-width: 700px) {
  body {
    .blog_grid_container {
      margin: 0px;
    }
  }
}

// ! ETC PAGE
body {
  .ETC_grid_container {
    display: grid;
    grid-template-rows: 100px 1fr repeat(3, 200px) 100px;
    grid-template-columns: repeat(3, 200px);
    padding: 10vh 25vw 0vh 25vw;
    grid-gap: 30px;
    justify-content: center;
    #ETC_icon_section {
      @include top_icon_specs($padding: 45px 25px 45px 25px);
      grid-area: 1 / 1 / 2 / 4;
    }
    #ETC_title_padding {
      grid-area: 2 / 1 / 3 / 4;
      padding: 10px;
    }
    #runner_box {
      @include icon_box;
      background-image: url("../docs/running_shot.png");
    }
    .orange_box {
      background: rgba(255, 166, 0, 0.5);
      border-radius: 5%;
      z-index: 10;
    }
    .ETC_desc_black_box {
      background: black;
      border-radius: 5%;
      color: $orangish;
      text-align: center;
      padding: 20px;
    }
    #code_box{
      background: url("../docs/coding.jpg");
      @include icon_box;  
    }
    #bike_box{
      background: url("../docs/bike.jpg");
      @include icon_box;
    }
  }
}

//! ETC PAGE RESPONSIVENESS
@media only screen and (max-width: 800px) {
  body {
    .ETC_grid_container {
      grid-column-gap: 0px;
      #runner_box {
        img:hover {
          transform: translate(200px, 0px);
        }
      }
      #code_box {
        img:hover {
          transform: translate(200px, 0px);
        }
      }
      #bike_box {
        img:hover {
          transform: translate(200px, 0px);
        }
      }
    }
  }
}

//! TITLE PAGE
body {

  .title_page_grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    #title_box{
      grid-area: 1 / 1;
      color: $orangish;
      width: 480px;
      height: 390px;
      padding: 0px 0px 0px 30px;
      margin: 50px 0px 0px 5vw;
      background-color: $blackveil;
      h1 {
        margin-left: 20px;
      }
      h2 {
        margin-left: 70px;
      }
    }
    #three_icons {
      grid-area: 1 / 2 / 2 / 3;
      background-color: $blackveil;
      height: 150px;
      width: 510px;
      grid-gap: 20px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-self: end;
      img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        &:hover {
          opacity: 0;
        }
        &:active {
          opacity: 1;
        }
      }
      #hover_img_1 {
        @include hover_img;
        background-image: url(../docs/left_shot.JPG);
      }
      #hover_img_2{
        @include hover_img;
        background-image: url(../docs/center_shot.JPG);
      }
      #hover_img_3{
        @include hover_img;
        background-image: url(../docs/right_shot.JPG);
      }
    }
    
    #social_media_bar {
      grid-area: 2 / 2 / 3 / 3;
      height: 65px;
      width: 210px;
      padding: 10px;
      margin: 10px;
      display: flex;
      justify-content: space-around;
      background: rgba(241, 177, 82, 0.6);
    }
  }
}

@media only screen and (min-width: 851px) and (max-width: 1200px) {
  body {
    .title_page_grid{
      #three_icons{
        margin: 20px 0 0 5vw;
        height: 510px;
        width: 150px;
        display: grid;
        grid-template-areas:
          150px
          150px
          150px
          / 1fr;
        align-items: center;
        #hover_img_1 {
          background-image: url(../docs/top_shot.JPG);
        }
        #hover_img_3 {
          background-image: url(../docs/bottom_shot.JPG);
        }
      }
      #social_media_bar{
        grid-area: 2 / 1 / 3 / 2;
        justify-self: center;
        margin-top: -50px;
      }
    }
  }
}

//! TITLE PAGE RESONSIVENESS
@media only screen and (max-width: 850px) {
  body {
    .title_page_grid {
      .dropbtn {
        display: none;
      }
      #title_box {
        @include margin_cancel_width_full;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        padding: 0; 
        h1,
        h2 {
          margin-left: 0;
        }
      }
      #three_icons {
        @include margin_cancel_width_full;
        grid-area: 2 / 1 / 3 / 2;
        height: auto;
        display: grid;
        grid-template-areas:
          150px
          150px
          150px
          / 1fr;
        align-items: space-around;
        justify-content: center;
        #hover_img_1 {
          background-image: url(../docs/top_shot.JPG);
        }
        #hover_img_3 {
          background-image: url(../docs/bottom_shot.JPG);
        }
      }
      #social_media_bar {
        @include margin_cancel_width_full;
        grid-area: 3 / 1 / 4 / 2;
      }
    }
  }
}


//! BIO PAGE
body {
  background: url("../docs/dark_city.jpg");
  @include background_luminosity;
  background-size: cover;
  .container5 {
    color: black;
    #bio-overlay {
      display: grid;
      grid-template-columns: 10% 1fr 3fr;
      grid-template-rows: minmax(450px, 70vh);
      height: 100vh;
      padding: 75px 100px 0px 5vw;
      #bio-column-1 {
        background: rgb(170, 170, 170);
      }
      #bio-column-2 {
        background: rgb(170, 170, 170);
        img {
          height: 80vh;
          min-height: 470px;
          margin-top: -5vh;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
            0 6px 20px 0 rgba(0, 0, 0, 0.39);
          filter: grayscale(20%);
        }
        h2 {
          margin-left: -1000px;
        }
      }
      #bio-column-3 {
        background: rgb(170, 170, 170);
        min-width: 425px;
        max-width: 650px;
        display: grid;
        grid-template-areas:
          1fr
          1fr
          1fr
          / 1fr;
        #skills {
          background: rgb(240, 240, 240);
          align-self: center;
          margin: 50px;
          min-width: 300px;
          min-height: 200px;
          justify-self: center;
          text-align: center;
          padding: 25px 10px 35px 10px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.199),
            0 6px 20px 0 rgba(0, 0, 0, 0.24);
          #resume-link {
            background-color: rgb(199, 129, 0);
          }
          span {
            color: white;
            background-color: rgb(44, 44, 44);
            padding: 3px;
            border: solid 2px black;
          }
        }
        #resume {
          display: grid;
          grid-template-rows: 3fr 1fr;
          justify-self: center;
          align-self: center;
          margin-bottom: 20px;
          #head_shot {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  body {
    .container5 {
      #bio-overlay {
        height: 100px;
        padding: 0 0 0 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        #bio-column-1 {
          background: transparent;
        }
        #bio-column-3 {
          grid-area: 2 / 1 / 3 / 2;
          justify-self: center;
          height: 100vh;
          #skills {
            align-self: start;
          }
          #resume {
            #head_shot {
              display: contents;

              img {
                height: 150px;
                width: 150px;
                justify-self: center;
                align-self: start;
                border-radius: 50%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.199),
                  0 6px 20px 0 rgba(0, 0, 0, 0.24);
              }
            }
          }
        }
        #bio-column-2 {
          justify-self: center;
          text-align: center;
          color: orange;
          border-radius: 50%;
          width: 90px;
          padding: 20px;
          margin: 20px;
          background: rgb(0, 0, 0);
          grid-area: 1 / 1 / 2 / 2;
          transition: transform 1s;
          &:hover {
            transform: rotate(360deg);
          }
          img {
            margin-top: 0;
            display: none;
          }
          h2 {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

















// #two-upper-middle{
//                 margin: 100px 0 0 0;
//             }
//             #two-upper-middle{
//                 margin: 100px 0 0 0;
//             }
//             #two-lower-middle{
//                 margin: 0 0 100px 0;
//             }
//             #two-lower {
//                 margin: 0px 0px 0px 0px;
//             }

//     #side-pic {
//     grid-area: span 3;
//     // background: url("../src/QC_marathon.jpg");
//     background-size: cover;
//     // background-attachment: fixed;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
// }
// }

// @media only screen and (min-width: 1000px)

// {body
// .container3 {
// #three-top {

// }
// #three-top {

// }
// #three-middle {

// }
// #three-bottom {

// }
// #side-pic {

// }
// }

// }

// @media only screen and (max-width: 500px)
// {
//     body {
//         .container2{
//             #two-upper-middle{
//                 margin: 100px 0 0 0;
//             }
//             #two-upper-middle{
//                 margin: 100px 0 0 0;
//             }
//             #two-lower-middle{
//                 margin: 0 0 100px 0;
//             }
//             #two-lower {
//                 margin: 0px 0px 0px 0px;
//             }

//         }
//     }
// }

// #two-top {
//     background-color: blue;
//     height: 75vw;
//     justify-content: center;
// }
// #two-upper-middle {
//     background-color: orange;
//     margin: 20px 50px 20px 50px;
// }
// #two-lower-middle {
//     background-color: blue;
//     margin: 0px 50px 20px 50px;
// }
// #two-lower {
//     background-color: red;
//     margin: 0px 50px 50px 50px;
// }
// #bottom {
//     background-color: lightcyan;
// }

// nav {
//     color: blue;
//     position: fixed;
//     ul {
//         margin: 0;
//         padding: 0;
//         list-style: none;

//         li {
//             float: left;
//             width: 200px;
//             height: 40px;
//             background-color: black;
//             opacity: 0.8;
//             line-height: 40px;
//             text-align: center;
//             font-size: 20px;
//             a {
//                 text-decoration: none;
//                 color: white;
//                 display: block;
//             }
//             a:hover {
//                 background-color: green;
//             }
//             ul li {
//                 display: none;
//             }
//         }
//         li:hover ul li {
//             display: block;
//         }
//     }

// }



// page 2 before transformation
// .container2 {
//   background: url("../docs/dark_city.jpg");
//   background-color: rgba(255, 166, 0, 0.3);
//   background-blend-mode: luminosity;
//   background-size: 100%;
//   background-size: cover;
//   background-attachment: fixed;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   display: grid;
//   grid-template-rows: 1fr 1fr auto auto;
//   grid-template-columns: 1fr 1fr 1fr;

//   #two-top {
//     grid-area: 1 / 1 / 2 / 4;
//     background-color: blue;
//     height: 10vh;
//     min-width: 80%;
//     margin: auto auto auto auto;
//   }
//   #two-upper-middle {
//     grid-area: 2 / 1 / 3 / 2;
//     background-color: orange;
//     height: auto;
//     margin: 50px 50px 50px 50px;
//   }
//   #two-lower-middle {
//     grid-area: 2 / 2 / 3 / 3;
//     background-color: blue;
//     margin: 0 0 0 0;
//   }
//   #two-lower {
//     grid-area: 2 / 3 / 3 / 4;
//     background-color: red;
//     margin: 50px 50px 50px 0px;
//   }
// //   #bottom {
// //     grid-area: 5 / 1 / 6 / 4;
// //     background-color: lightcyan;
// //   }
// }

// body {
//   background: rgb(192, 192, 192);
//   font-family: "Montserrat", sans-serif;
//   .container3 {
//     background: url("../docs/QC_marathon.jpg");
//     background-size: cover;
//     max-width: 1000px;
//     margin: auto;
//     display: grid;
//     grid-template-columns: 40% 60%;
//     grid-template-rows: 1fr 1fr 1fr;

//     #three-top {
//       grid-area: 1 / 1 / 2 / 2;
//       width: 30vw;
//       // min-width: 500px;
//       font-size: 2rem;
//       height: 125px;
//       margin: 125px 25px 50px 50px;
//       z-index: 10;
//       background: lightblue;
//     }

//     #three-middle {
//       grid-area: 2 / 1 / 3 / 2;
//       height: 500px;
//       background: blue;
//     }

//     #three-bottom {
//       grid-area: 3 / 1 / 4 / 2;
//       background: green;
//     }
//     // #bottom {
//     //   grid-area: 4 / 1 / 5 / 3;
//     //   background-color: lightblue;
//     // }
//   }
// }

// @media only screen and (max-width: 500px) {
//   body {
//     .container3 {
//       #three-top {
//         margin: 0;
//         width: 100vw;
//         height: auto;
//       }
//       #three-top {
//         width: 100vw;
//       }
//       #three-middle {
//         width: 100vw;
//       }
//       #three-bottom {
//         width: 100vw;
//       }
//     }
//   }
// }

// //? currently the alt2 page
// body {
//   color: black;
//   margin: 0;
//   padding: 0;

//   .container {
//     display: grid;
//     padding: 100px;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 1fr 1fr 100px;
//     background: url("../docs/dark_city.jpg");
//     background-size: 100%;
//     #top {
//       max-width: 500px;
//       grid-area: 1 / 1 / 2 / 3;
//       background-image: url(../docs/cityrise.jpg);
//       background-color: black;
//       background-size: cover;
//       // background-attachment: fixed;
//       display: grid;
//       grid-template-columns: 1fr;

//       #bio-top-grid {
//         background: black;
//         color: white;
//         justify-self: center;
//         text-align: center;
//         align-self: start;
//         font-size: 10vw;
//         font-weight: bold;
//         mix-blend-mode: multiply;
//       }
//     }
//     #middle-left {
//       background: url("../docs/centralpark2.jpg");
//       background-size: cover;
//       background-attachment: fixed;
//       //? width/height 100% give it body
//       width: 100%;
//       height: 100%;

//       overflow: hidden;
//     }
//     #middle-right {
//       height: 100vh;
//       background-color: gray;
//     }
//     #bottom-left {
//       height: 100vh;
//       background-color: gray;
//     }
//     #bottom-right {
//       background: url("../docs/manhattan_bridge.jpg");
//       background-size: cover;
//       background-attachment: fixed;
//       width: 100%;
//       height: 100%;
//       overflow: hidden;
//     }
//     // nav bar area
//   }
//   #bottom {
//     grid-area: 4 / 1 / 5 / 3;
//     background-color: gray;
//     align-items: center;
//     padding-left: 20px;
//     img {
//       width: 50px;
//     }
//   }
// }

// @media only screen and (max-width: 500px) {
//   body {
//     .container {
//       height: 50vh;
//       #middle-right {
//         grid-area: 2 / 1 / 3 / 3;
//         height: 50vh;
//       }
//       #bottom-left {
//         grid-area: 3 / 1 / 4 / 3;
//         height: 50vh;
//       }
//     }
//   }

// }

// @media only screen and (min-width: 501px) and (max-width: 800px) {
//   body {
//     .container {
//       height: 75vh;

//       #middle-right {
//         grid-area: 2 / 1;
//         height: 75vh;
//       }
//       #bottom-left {
//         height: 75vh;
//       }
//       #middle-left {
//         grid-area: span 2;
//         background: url("../docs/empire-state.jpg");
//         background-size: cover;
//         background-attachment: fixed;
//         //? width/height 100% give it body
//         width: 100%;
//         height: 100%;
//         overflow: hidden;
//       }
//       #bottom img {
//         width: 33px;
//       }
//     }
//   }
// }

// body {
//   background: rgb(192, 192, 192);
//   font-family: "Montserrat", sans-serif;
//   .container3 {
//     background: url("../docs/QC_marathon.jpg");
//     background-size: cover;
//     max-width: 1000px;
//     margin: auto;
//     display: grid;
//     grid-template-columns: 40% 60%;
//     grid-template-rows: 1fr 1fr 1fr;

//     #three-top {
//       grid-area: 1 / 1 / 2 / 2;
//       width: 30vw;
//       // min-width: 500px;
//       font-size: 2rem;
//       height: 125px;
//       margin: 125px 25px 50px 50px;
//       z-index: 10;
//       background: lightblue;
//     }

//     #three-middle {
//       grid-area: 2 / 1 / 3 / 2;
//       height: 500px;
//       background: blue;
//     }

//     #three-bottom {
//       grid-area: 3 / 1 / 4 / 2;
//       background: green;
//     }
//   }
// }

// @media only screen and (max-width: 500px) {
//   body {
//     .container3 {
//       #three-top {
//         margin: 0;
//         width: 100vw;
//         height: auto;
//       }
//       #three-top {
//         width: 100vw;
//       }
//       #three-middle {
//         width: 100vw;
//       }
//       #three-bottom {
//         width: 100vw;
//       }
//     }
//   }
// }