body {
  color: black;
  margin: 0;
  padding: 0;
}

body .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

body .container #top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  background-color: #302f2f;
  color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-keyframes: text-flicker-in-glow;
}

body .container #top #intro-top-center #greenblock {
  height: 200px;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s;
}

body .container #top #intro-top-center #greenblock:hover {
  margin-top: 100px;
}

body .container #middle-left {
  background: url("../docs/centralpark2.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body .container #middle-right {
  height: 100vh;
  background-color: brown;
}

body .container #bottom-left {
  height: 100vh;
  background-color: gray;
}

body .container #bottom-right {
  background: url("../docs/manhattan_bridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  body .container {
    height: 50vh;
  }
  body .container #middle-right {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    height: 50vh;
  }
  body .container #bottom-left {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    height: 50vh;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #copyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
  body .container {
    height: 75vh;
  }
  body .container #middle-right {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2 / 1;
    height: 75vh;
  }
  body .container #bottom-left {
    height: 75vh;
  }
  body .container #middle-left {
    grid-area: span 2;
    background: url("../docs/empire-state.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body .container #bottom img {
    width: 33px;
  }
}

.container2 {
  background: url("../docs/manhattan_bridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr auto auto;
      grid-template-rows: 1fr 1fr auto auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.container2 #two-top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  background-color: blue;
  height: 75vw;
  max-width: 1000px;
  min-width: 80%;
  margin: auto auto auto auto;
}

.container2 #two-upper-middle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  background-color: orange;
  height: auto;
  margin: 50px 50px 50px 50px;
}

.container2 #two-lower-middle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  background-color: blue;
  margin: 0 0 0 0;
}

.container2 #two-lower {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  background-color: red;
  margin: 50px 50px 50px 0px;
}

body {
  background: silver;
  font-family: "Montserrat", sans-serif;
}

body .container3 {
  background: url("../docs/QC_marathon.jpg");
  background-size: cover;
  max-width: 1000px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

body .container3 #three-top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  width: 30vw;
  font-size: 2rem;
  height: 125px;
  margin: 125px 25px 50px 50px;
  z-index: 10;
  background: lightblue;
}

body .container3 #three-middle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  height: 500px;
  background: blue;
}

body .container3 #three-bottom {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  background: green;
}

@media only screen and (max-width: 500px) {
  body .container3 #three-top {
    margin: 0;
    width: 100vw;
    height: auto;
  }
  body .container3 #three-top {
    width: 100vw;
  }
  body .container3 #three-middle {
    width: 100vw;
  }
  body .container3 #three-bottom {
    width: 100vw;
  }
}

.main_body {
  color: white;
  background: url("../docs/dark_city.jpg");
  background-size: 100%;
}

.main_body .container4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.main_body .container4 #left-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  color: #e9a848;
  width: 500px;
  height: 400px;
  padding: 0px 20px 0px 20px;
  margin: 30px 0px 0px 30px;
  background-color: rgba(0, 0, 0, 0.61);
  font-size: 2.5rem;
}

.main_body .container4 #right-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 2 / 2;
  background-color: rgba(0, 0, 0, 0.61);
  height: 150px;
  padding: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_body .container4 #right-title #bottom-right-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  height: 100px;
  padding: 10px;
  width: 500px;
}

.main_body .container4 #right-title img {
  border-radius: 50%;
}

.main_body .container4 #right-title #bottom-right-title {
  background: blue;
}

.main_body .container4 #right-title #bottom-left-title {
  background: green;
}

.main_body .container4 #right-title img:hover {
  opacity: 0;
}

.main_body .container4 #right-title img:active {
  opacity: 0;
}

.main_body .container4 #right-title #img1-title {
  background-color: black;
  border-radius: 50%;
  background-image: url(../docs/empire-state.jpg);
}

.main_body .container4 #right-title #img2-title {
  border-radius: 50%;
  background-image: url(../docs/empire-state.jpg);
}

.main_body .container4 #right-title #img3-title {
  border-radius: 50%;
  background-image: url(../docs/empire-state.jpg);
}

@media only screen and (min-width: 761px) and (max-width: 1200px) {
  .main_body .container4 #left-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .main_body .container4 #right-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: -10vh;
    margin-top: 20px;
    margin-left: 5vw;
    grid-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 510px;
    width: 150px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 150px 150px 150px / 1fr;
  }
  .main_body .container4 #bottom-right-title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media only screen and (max-width: 760px) {
  .main_body .container4 #left-title {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .main_body .container4 #right-title {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
    grid-gap: 20px;
    height: auto;
    width: 100vw;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 150px  150px 150px / 1fr;
  }
  .main_body .container4 #bottom-right-title {
    -ms-grid-row: 1000;
        grid-row-start: 1000;
  }
}
/*# sourceMappingURL=alt2.css.map */