body {
  background-image: url(../docs/dark_city.jpg);
  background-size: 100%;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(128, 128, 128, 0.9);
  padding: 10px;
}

footer #copyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dropdown {
  position: absolute;
  right: 0;
  margin: 15px;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: orange;
}

.dropdown .dropbtn {
  background-color: black;
  border-radius: 20%;
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 2rem;
  border: none;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  min-width: 160px;
  right: 0px;
  font-size: 1.5rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown .dropdown-content a:hover {
  background-color: #ffa600;
  color: black;
}

.dropdown .dropdown-content a {
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

body .title_page_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 90vh;
}

body .title_page_grid #title_box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  color: #e0b454;
  width: 480px;
  height: 390px;
  padding: 0px 0px 0px 30px;
  margin: 50px 0px 0px 5vw;
  background-color: rgba(0, 0, 0, 0.6);
}

body .title_page_grid #title_box h1 {
  margin-left: 20px;
}

body .title_page_grid #title_box h2 {
  margin-left: 70px;
}

body .title_page_grid #three_icons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgba(0, 0, 0, 0.6);
  height: 150px;
  width: 510px;
  grid-gap: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: end;
}

body .title_page_grid #three_icons img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

body .title_page_grid #three_icons img:hover {
  opacity: 0;
}

body .title_page_grid #three_icons img:active {
  opacity: 1;
}

body .title_page_grid #three_icons #hover_img_1 {
  border-radius: 50%;
  height: 150px;
  background-size: cover;
  background-image: url(../docs/left_shot.JPG);
}

body .title_page_grid #three_icons #hover_img_2 {
  border-radius: 50%;
  height: 150px;
  background-size: cover;
  background-image: url(../docs/center_shot.JPG);
}

body .title_page_grid #three_icons #hover_img_3 {
  border-radius: 50%;
  height: 150px;
  background-size: cover;
  background-image: url(../docs/right_shot.JPG);
}

body .title_page_grid #social_media_bar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  height: 65px;
  width: 210px;
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(241, 177, 82, 0.6);
}

@media only screen and (min-width: 851px) and (max-width: 1200px) {
  body .title_page_grid #three_icons {
    margin: 20px 0 0 5vw;
    height: 510px;
    width: 150px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 150px 150px 150px / 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .title_page_grid #three_icons #hover_img_1 {
    background-image: url(../docs/top_shot.JPG);
  }
  body .title_page_grid #three_icons #hover_img_3 {
    background-image: url(../docs/bottom_shot.JPG);
  }
  body .title_page_grid #social_media_bar {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: -50px;
  }
}

@media only screen and (max-width: 850px) {
  body .title_page_grid #title_box {
    margin: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 0;
  }
  body .title_page_grid #title_box h1,
  body .title_page_grid #title_box h2 {
    margin-left: 0;
  }
  body .title_page_grid #three_icons {
    margin: 0;
    width: 100vw;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    height: auto;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 150px 150px 150px / 1fr;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .title_page_grid #three_icons #hover_img_1 {
    background-image: url(../docs/top_shot.JPG);
  }
  body .title_page_grid #three_icons #hover_img_3 {
    background-image: url(../docs/bottom_shot.JPG);
  }
  body .title_page_grid #social_media_bar {
    margin: 0;
    width: 100vw;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
}

body {
  background-color: rgba(255, 166, 0, 0.3);
  background-blend-mode: luminosity;
}

body .blog_grid_container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 150px 5px 150px repeat(6, auto)/1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 150px 0px 150px;
}

body #blog_icon_section {
  padding: 60px 25px 60px 25px;
  margin-bottom: 10px;
  background: black;
  color: orange;
  font-size: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1;
}

body #blog_icon_section:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body .blog-body {
  background: rgba(0, 0, 0, 0.8);
  color: orange;
  padding: 0px 30px 10px 30px;
  margin-bottom: 25px;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .blog-body p {
  margin-left: 20px;
}

body .blog-body:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body .blog-body:hover a {
  color: #fde1b7;
}

@media only screen and (max-width: 700px) {
  body .blog_grid_container {
    margin: 0px;
  }
}

body .ETC_grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr (200px)[3] 100px;
      grid-template-rows: 100px 1fr repeat(3, 200px) 100px;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  padding: 10vh 25vw 0vh 25vw;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .ETC_grid_container #ETC_icon_section {
  padding: 45px 25px 45px 25px;
  margin-bottom: 10px;
  background: black;
  color: orange;
  font-size: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
}

body .ETC_grid_container #ETC_icon_section:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body .ETC_grid_container #ETC_title_padding {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
  padding: 10px;
}

body .ETC_grid_container #runner_box {
  background-size: 200px;
  border-radius: 5%;
  background-image: url("../docs/running_shot.png");
}

body .ETC_grid_container #runner_box img:hover {
  -webkit-transform: translate(230px, 0px);
          transform: translate(230px, 0px);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

body .ETC_grid_container #runner_box img {
  height: 200px;
  width: 200px;
  border-radius: 5%;
}

body .ETC_grid_container .orange_box {
  background: rgba(255, 166, 0, 0.5);
  border-radius: 5%;
  z-index: 10;
}

body .ETC_grid_container .ETC_desc_black_box {
  background: black;
  border-radius: 5%;
  color: #e0b454;
  text-align: center;
  padding: 20px;
}

body .ETC_grid_container #code_box {
  background: url("../docs/coding.jpg");
  background-size: 200px;
  border-radius: 5%;
}

body .ETC_grid_container #code_box img:hover {
  -webkit-transform: translate(230px, 0px);
          transform: translate(230px, 0px);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

body .ETC_grid_container #code_box img {
  height: 200px;
  width: 200px;
  border-radius: 5%;
}

body .ETC_grid_container #bike_box {
  background: url("../docs/bike.jpg");
  background-size: 200px;
  border-radius: 5%;
}

body .ETC_grid_container #bike_box img:hover {
  -webkit-transform: translate(230px, 0px);
          transform: translate(230px, 0px);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

body .ETC_grid_container #bike_box img {
  height: 200px;
  width: 200px;
  border-radius: 5%;
}

@media only screen and (max-width: 800px) {
  body .ETC_grid_container {
    grid-column-gap: 0px;
  }
  body .ETC_grid_container #runner_box img:hover {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
  }
  body .ETC_grid_container #code_box img:hover {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
  }
  body .ETC_grid_container #bike_box img:hover {
    -webkit-transform: translate(200px, 0px);
            transform: translate(200px, 0px);
  }
}

body {
  background-color: rgba(255, 166, 0, 0.3);
  background-blend-mode: luminosity;
}

body .bio_page #bio_page_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 3fr;
      grid-template-columns: 10% 1fr 3fr;
  -ms-grid-rows: minmax(450px, 70vh);
      grid-template-rows: minmax(450px, 70vh);
  height: 100vh;
  padding: 75px 100px 0px 5vw;
}

body .bio_page #bio_page_grid #bio-column-1 {
  background: #aaaaaa;
}

body .bio_page #bio_page_grid #bio-column-2 {
  background: #aaaaaa;
}

body .bio_page #bio_page_grid #bio-column-2 img {
  height: 80vh;
  min-height: 470px;
  margin-top: -5vh;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
}

body .bio_page #bio_page_grid #bio-column-2 h2 {
  margin-left: -1000px;
}

body .bio_page #bio_page_grid #bio-column-3 {
  background: #aaaaaa;
  min-width: 425px;
  max-width: 650px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 1fr 1fr 1fr / 1fr;
}

body .bio_page #bio_page_grid #bio-column-3 #skills {
  background: #f1f1f1;
  min-width: 300px;
  min-height: 200px;
  padding: 25px 10px 35px 10px;
  margin: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

body .bio_page #bio_page_grid #bio-column-3 #skills #resume-link {
  background-color: #c78100;
}

body .bio_page #bio_page_grid #bio-column-3 #skills span {
  color: white;
  background-color: #2c2c2c;
  padding: 3px;
  border: solid 2px black;
}

body .bio_page #bio_page_grid #bio-column-3 #bio_social_links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
}

body .bio_page #bio_page_grid #bio-column-3 #bio_social_links #head_shot {
  display: none;
}

@media only screen and (max-width: 950px) {
  body .bio_page #bio_page_grid {
    padding: 0 0 0 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  body .bio_page #bio_page_grid #bio-column-1 {
    background: transparent;
  }
  body .bio_page #bio_page_grid #bio-column-3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 750px;
    margin-bottom: 30px;
  }
  body .bio_page #bio_page_grid #bio-column-3 #skills {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  body .bio_page #bio_page_grid #bio-column-3 #bio_social_links #head_shot {
    display: contents;
  }
  body .bio_page #bio_page_grid #bio-column-3 #bio_social_links #head_shot img {
    height: 150px;
    width: 150px;
    -ms-grid-column-align: center;
        justify-self: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  }
  body .bio_page #bio_page_grid #bio-column-2 {
    padding: 20px 40px 20px 40px;
    margin-bottom: 10px;
    background: black;
    color: orange;
    font-size: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    transition: transform 1s;
  }
  body .bio_page #bio_page_grid #bio-column-2:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  body .bio_page #bio_page_grid #bio-column-2:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  body .bio_page #bio_page_grid #bio-column-2 img {
    margin-top: 0;
    display: none;
  }
  body .bio_page #bio_page_grid #bio-column-2 h2 {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */