@mixin parallax-background {

}

body, html {
    //? width/height 100% give it body
    width: 100%;
    height: 100%;
    //? margin & padding 0, otherwise sinks in
    margin: 0;
    padding: 0;
    //? sleek font, sans
    font-family: sans-serif;
    //? keep for default
    background-color: black;

.s1 {
    background: url("../src/centralpark2.jpg");
    background-size: cover;
    background-attachment: fixed;
    //? width/height 100% give it body
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    // display: grid;
    // grid-template-rows: 100%;
    // grid-template-columns: 50% 50%;

}
.s2 {
    background: url("../src/manhattan_bridge.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 50%;
    height: 100%;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: end;
}
.s3 {
    background: url("../src/centralpark.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: [row-start] 100% [row-end];
    grid-template-columns: [column-start] 50% [column-middle] 50% [column-end];
    // display: flex;
    // justify-content: center;
    // align-items: end; 

        #one {
        background-color: black;
        color: white;
        height: 100%;
        font-size: 2vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        justify-content: center;

        div {
            border: 5px solid red;
            color: lightskyblue;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 2rem;
            padding: 50px;
        }
        }

        #two {
        justify-self: center;
        text-align: center;
        align-self: start;
        color: white;
        background-color: black;
        width: 100%;
        font-size: 10vw; 
        font-weight: bold;
        margin: 0 auto;
        padding: 10px;
        /* transform: translate(-50%, -50%); */
        mix-blend-mode: multiply;
        }
}

/* Refactor: This part is better for the longrun. separated into a grid than s2, which is just absolutes and bull shit */


// #two {
//     background-color: black;
//     text-decoration: none;
//     color: white;
//     font-size: 10vw; 
//     font-weight: bold;
//     margin: 0 auto;
//     padding: 10px;
//     width: 100%;
//     text-align: center;
//     align-self: start;
//     justify-self: stretch;
//     /* position: absolute; */
//     /* transform: translate(-50%, -50%); */
//     mix-blend-mode: multiply;
//     text-transform: uppercase;

// }

.text {
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 10vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    mix-blend-mode: multiply;
    
  }




//   a {
//     background: white;
//     color: black;
//     padding: 10px 20px;
//     font-size: 40px;
//     text-transform: uppercase;
//   }

 .text:hover {
      color: pink;
  }
}