body {
  font-size: 3rem;
}

body header nav {
  border: 4px solid black;
  font-size: 1.25rem;
  background-color: #714729;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 100000000;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 50px;
  -ms-grid-columns: 50vw 50vw;
      grid-template: 50px / 50vw 50vw;
}

body header nav #left_link {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 10px;
  margin-left: 40px;
  color: black;
  text-decoration: none;
}

body header nav #left_link:hover {
  background-color: black;
  color: gray;
}

body header nav #right_links {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}

body header nav #right_links .link {
  text-decoration: none;
  padding: 10px;
  color: black;
}

body header nav #right_links .link:hover {
  background-color: black;
  color: gray;
}

body .container #background_image {
  width: 100%;
  position: fixed;
  min-height: 800px;
  z-index: -1;
}

body .container #background_image section {
  position: absolute;
  z-index: 10;
  top: 55%;
  /* Adjust this value to move the positioned div up and down */
  margin-right: 100px;
  width: 100%;
  /* Set the width of the positioned div */
}

body .container #background_image section .grid {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 125px 125px 125px 125px;
      grid-template: 1fr 1fr / 125px 125px 125px 125px;
}

body .container #background_image section .grid #one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  z-index: 1000000000000;
}

body .container #background_image section .grid #one:hover {
  height: 600px;
  margin-top: -300px;
  color: transparent;
}

body .container #background_image section .grid #two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  z-index: 1000000000000;
}

body .container #background_image section .grid #two:hover {
  height: 600px;
  margin-top: -300px;
  color: transparent;
}

body .container #background_image section .grid #three {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  z-index: 1000000000000;
}

body .container #background_image section .grid #three:hover {
  height: 600px;
  margin-top: -300px;
  color: transparent;
}

body .container #background_image section .grid #four {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  z-index: 10000000;
}

body .container #background_image section .grid #four:hover {
  height: 600px;
  margin-top: -300px;
  color: transparent;
}

body .container #background_image section .grid #five {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  z-index: 1000;
  background: #A6B5BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: saddlebrown;
}

body .container #background_image section .grid #six {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  z-index: 1000;
  background: #A6B5BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: saddlebrown;
}

body .container #background_image section .grid #seven {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  z-index: 1000;
  background: #A6B5BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: saddlebrown;
}

body .container #background_image section .grid #eight {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  z-index: 1000;
  background: #A6B5BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: saddlebrown;
}

body .container #background_image section .grid div {
  width: 125px;
  height: 300px;
  background: transparent;
  -webkit-transition: margin-top 2s, height 2s;
  transition: margin-top 2s, height 2s;
}

body .container #background_image section .grid div img {
  max-height: 300px;
  width: 125px;
  background-color: transparent;
}

html {
  overflow: hidden;
}

#body2 {
  height: 100vh;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.regular-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-image: url("../docs/centralpark.jpg");
  z-index: 2;
  position: relative;
}

.content2 {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: #aaa;
}

.content2 .parallax-wrapper::before {
  content: "";
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("../docs/centralpark.jpg");
  position: absolute;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */